target
*.o
*.pyc
*.swp
*.jar
*.class
*.lock
**/benchmark
CMakeCache.txt
*.cmake
CMakeFiles
callgrind*
CPack*
*.rpm
*.spec.*
*.spec
*.err
*.out
install_manifest.txt
C#/.ionide/symbolCache.db
dist
dart/bin/benchmark.exe
