Package: fft-benchmark
Version: 1.0
Section: base
Priority: optional
Architecture: armhf
Depends: 
Maintainer: Robert Fuszenecker <robert.fuszenecker@outlook.com>
Description: The FFT benchmark from Zsolt Krüpl
